[2018-11-08 12:40] papsti7 opened #3 "Documentation missing"

[2018-11-27 21:51] #3 closed

[2019-01-16 10:23] tomLadder opened #4 "Support getOption"
It would be nice if this library could support the `getOption` echartsInstance function.

[https://ecomfe.github.io/echarts-doc/public/en/api.html#echartsInstance.getOption](url)

[2019-01-22 08:10] #4 closed

[2019-03-14 04:56] prancky opened #8 "Not Working in android"
<img width="302" alt="Screen Shot 2019-03-14 at 10 25 23 AM" src="https://user-images.githubusercontent.com/18732057/54332299-92bb1c80-4643-11e9-9b60-93e748f99212.png">

[2019-03-14 05:02] Sherange commented on #8
i have same issue here

[2019-03-14 13:58] papsti7 commented on #8
@prancky Please provide more information about your environment.
At least add the output of `react-native info`.

[2019-03-14 14:05] prancky commented on #8
hi @papsti7

<img width="843" alt="Screen Shot 2019-03-14 at 7 32 54 PM" src="https://user-images.githubusercontent.com/18732057/54362997-03882600-4690-11e9-84b0-3192929af76a.png">

[2019-03-14 14:06] prancky commented on #8
Hi @papsti7
<img width="840" alt="Screen Shot 2019-03-14 at 7 35 54 PM" src="https://user-images.githubusercontent.com/18732057/54363194-6b3e7100-4690-11e9-89ee-8ad2e1c0ef60.png">

[2019-03-14 14:09] tomLadder commented on #8
Adding the `index.html` from `node_modules/react-native-echarts-wrapper/src/` to your android assets folder should solve the issue.

![image](https://user-images.githubusercontent.com/20393156/54363417-2fdd7b80-466b-11e9-9c40-f2f189ccf8b6.png)

[2019-03-14 14:18] prancky commented on #8
Hi @tomLadder it' work now. Thx & this package is awesome .

[2019-03-14 14:37] tomLadder commented on #8
Awesome 👍
Gonna update the documentation...

[2019-03-15 06:40] prancky opened #9 "How to pass custom parameter to tooltip"
Hi all,
I want to know how to pass extra parameter to tooltip.
<img width="362" alt="Screen Shot 2019-03-15 at 11 26 11 AM" src="https://user-images.githubusercontent.com/18732057/54413334-4ba05a80-471b-11e9-8174-4293013fd9c9.png">

[2019-03-16 00:13] tomLadder commented on #9
This is not a issue with this library. You should check the [ECharts documentation](https://echarts.apache.org/option.html#tooltip.formatter)

[2019-03-16 11:56] #9 closed

[2019-04-14 09:28] Blacktoviche opened #10 "Blank page on android"
I followed your example first install package and copy index.html to android assests  but nothing appear just a white page
in android log there is no error
I'm using :
react-native 0.59.4
react-native-echarts-wrapper 1.2.2

[2019-04-16 18:51] tomLadder commented on #10
Thank you for reporting. I could reproduce this issue, gonna have a look at it 👍🏻

[2019-04-18 10:21] tomLadder commented on #10
Hey @Blacktoviche

I could find and fix the problem. You can expect a new release within the next days.

[2019-04-18 13:13] tomLadder commented on #10
Just released [v1.3.0](https://www.npmjs.com/package/react-native-echarts-wrapper/v/1.3.0) 🎉.
This release should solve your problem.

**Attention**
Webview will be no longer part of the react-native-core. Make sure to install `react-native-webview`. (see README for further information)

[2019-04-24 10:38] kivanov82 opened #13 "Doesn't work on iOS in Expo"
"expo": "^32.0.0"
"react-native-echarts-wrapper": "^1.3.0",
"react-native-webview": "^5.7.1",

Invariant Violation: requireNativeComponent: "RNCWKWebView" was not found in the UIManager.

This error is located at:
    in RNCWKWebView (at WebView.ios.js:288)
    in RCTView (at View.js:44)
    in WebView (at src/index.js:133)

[2019-04-24 10:52] tomLadder commented on #13
Expo still uses the old `Webview` from `react-native`
Gonna add the possibility to use the old one if required.

[2019-04-24 11:28] kivanov82 commented on #13
@tomLadder would be appreciated, the library is great!

[2019-04-25 02:17] wuwenyuan111 commented on #10
I have same problem.
my packages:
"react-native": "0.59.3",
"react-native-webview": "^5.7.1",
"react-native-echarts-wrapper": "^1.3.0",

[2019-04-27 08:39] tomLadder commented on #10
Android or IOS. Should be fixed in v1.3.0

[2019-05-06 07:27] wuwenyuan111 commented on #10
Android

[2019-05-07 08:03] Janrin opened #14 "cannot use '\n' in custom format text"
such as code below, '\n' is replaced by toString

`
label: {
    // 在文本中，可以对部分文本采用 rich 中定义样式。
    // 这里需要在文本中使用标记符号：
    // `{styleName|text content text content}` 标记样式名。
    // 注意，换行仍是使用 '\n'。
    formatter: [
        '{a|这段文本采用样式a}',
        '{b|这段文本采用样式b}这段用默认样式{x|这段用样式x}'
    ].join('\n'),

    // 这里是文本块的样式设置：
    color: '#333',
    fontSize: 5,
    fontFamily: 'Arial',
    borderWidth: 3,

[2019-05-20 12:04] tomLadder commented on #10
Do you still face this issue?

[2019-05-20 12:04] #10 closed

[2019-05-20 12:10] tomLadder commented on #13
Just released [v1.4.0](https://www.npmjs.com/package/react-native-echarts-wrapper/v/1.4.0) 🎉.
This release should solve your problem / adds Expo support to the library.

Attention:
add `legacyMode` to the `ECharts` component. It will then use the Webview from 'react-native' instead of `react-native-echarts-wrapper`. (see README for further information)

[2019-05-20 12:11] tomLadder commented on #14
Can you give me a small static example in order to reproduce this issue?

regards,
Tom

[2019-05-21 08:07] #13 closed

[2019-05-22 04:49] wuwenyuan111 commented on #10
No, it is ok, thanks.

[2019-06-17 07:43] rudrainnovatives opened #16 "Dynamic loading issue on iOS"
Followed your example for dynamic loading of data in graph. Working on Android but getting blank screen on iOS. If data is not dynamic then working good on both platform. Please check the dynamic loading issue on iOS

I am using:
react-native: 0.59.8
react-native-echarts-wrapper: 1.4.0

[2019-06-18 18:51] masiamj opened #17 "Loading state/Background Color"
Hey @tomLadder, first off, awesome library! Love using it, and it's been a huge help.

I'm curious how you handle loading states before the chart actually renders? I'm having a tough time with it right now and was wondering if we (happy to put in a PR) could implement a loading-type callback or be able to change the background color (on `html`, `body`, or `main` pre-render via props.

Let me know,

[2019-06-18 20:00] tomLadder commented on #17
Hey @masiamj !
Thanks for very much for your feedback 🙏

First of all, I forgot to add the `onLoadEnd` callback to the documentation. It fires when the WebView finished loading the echarts framework.

The feature request to set a custom background color totally makes sense 👍 Probably the easiest and most efficient solution would be to inject a custom javascript function which sets the background c

[2019-06-19 14:11] tomLadder commented on #16
Hey @rudrainnovatives !

Thank you for reporting this bug. 🙏
I could reproduce the issue and a fix will be release in the upcoming version.

[2019-06-21 07:13] rudrainnovatives commented on #16
hey @tomLadder ,

i am working on live project that uses echarts. i have to complete a project. I will be thankful if you could release new version as soon as possible.

[2019-06-24 08:20] tshiamor-adft opened #19 "usage on expo as there is no android_asset folder"
Thanks for such a wrapper, however I am unclear on how to use this with expo, as there is no separate android + ios folder when using expo-cli. already tried adding a new android_asset/index.html to the assets folder, however that didn't work. Would appreciate a bit of explanation for beginners, since the readme illustrates useage in a react-native structure and none is shown for expo project stru

[2019-06-25 19:12] tomLadder commented on #19
I will have a look at it and i will write a step by step tutorial for expo.

[2019-06-25 19:26] tomLadder commented on #16
Just released [v1.4.1](https://www.npmjs.com/package/react-native-echarts-wrapper/v/1.4.1) 🎉.
This release should solve the dynamic loading issue on ios.

[2019-06-25 19:26] #16 closed

[2019-06-28 02:43] Jinzm opened #20 "i use Simple example in my project ,show a blank page on ^1.4.1"
i total followed README.md ,but show a blank page. i also saw #10,but not helpful.
![image](https://user-images.githubusercontent.com/21049455/60313374-74c6bd00-9991-11e9-9e3a-5b9731b9ed70.png)

[2019-06-30 22:04] abrahamAlonzo commented on #20
You have your index.html in your android assets folder, as in [android installation](https://github.com/tomLadder/react-native-echarts-wrapper#android)?

[2019-06-30 22:20] abrahamAlonzo opened #21 "Background blue blink after filter data by legend in default render mode"
**Problem:**
When i click a legend for filter data using the next options in a **hook** component:

[code]

a background blue blink appear

this doesn't happen if i pass a canvas prop as

[code]

but in order to use with ```react-native-view-shot``` for take a screenshot it seems have conflict with the canvas rendering mode.

[2019-06-30 22:26] tomLadder commented on #21
Hey @abrahamAlonzo,

Can you give me some more detailed information about your environment? (ReactNative Version, Android or iOS?)

[2019-06-30 22:32] abrahamAlonzo commented on #21
Hi @tomLadder , i am working with React Native 59.8 and React 16.8.3 in Android.

[2019-06-30 22:34] tomLadder commented on #21
Ok thank you for reporting this issue. I could reproduce it, gonna have a look at it.

[2019-07-01 20:45] tomLadder commented on #21
Ok the svg rendering seems to be buggy with interactions. Haven't figured out a way yet to resolve this problem. Did you have a look at [https://github.com/gre/react-native-view-shot/issues/53](https://github.com/gre/react-native-view-shot/issues/53) ?

Maybe your screenshot lib works with canvas rendering if you set android:hardwareAccelerated="false" in your android activity.

[2019-07-02 05:39] Jinzm commented on #20
![image](https://user-images.githubusercontent.com/21049455/60485217-d27b4200-9cce-11e9-88d8-eace3958bd4a.png)
yea

[2019-07-02 12:31] abrahamAlonzo commented on #21
It works,thank you!.

Since i only have a MainActivity it seems to came with notably perfomance issues for sliders in general (side drawers and selectors), i am searching for a way to only have this component as a separate activity in order of decoupled this behavior.

[2019-07-03 02:35] tshiamor-adft commented on #19
finally got it working by making a sort of dirty workaround.
had to modify the index.js in the node_modules/react-native-echarts-wrapper/src/, and reference the index.html in the same folder.

Hope there is a better approach or  solution as this temporary approach.

[code]

[2019-07-03 04:32] tomLadder commented on #20
Have you recompiled your application (`react-native run-android`) ?

[2019-07-03 04:35] tomLadder commented on #19
ok solution. Not dirty at all if its works. Can you verify if it's correctly loaded on Android if you create a release version of your expo app? If everything is ok, i will implement the changes and release it in the upcoming version.

[2019-07-05 10:23] tshiamor-adft commented on #19
alright, sure. it can be produced with a minimal build though. seems alright on android expo.Should probably mention I tested on expo 32, and ran the example with legacyMode enabled,
using this package.json.

[code]

[2019-07-12 02:21] Allwithyou999 commented on #20
The code in README.md show a blank page for iOS

[2019-07-15 01:49] QuYunFengg opened #22 "Custom style does not take effect"
[code]
![image](https://user-images.githubusercontent.com/29081440/61192259-ace63380-a6e5-11e9-9174-c91c49ee61c1.png)
This is normal display.
But on mobile phones.
![TIM图片20190715094732](https://user-images.githubusercontent.com/29081440/61192242-9c35bd80-a6e5-11e9-98c3-5e228b8d1888.jpg)

Thank you very much for this component.

[2019-07-15 01:49] QuYunFengg opened #23 "Custom style does not take effect"
[code]
![image](https://user-images.githubusercontent.com/29081440/61192259-ace63380-a6e5-11e9-9174-c91c49ee61c1.png)
This is normal display.
But on mobile phones.
![TIM图片20190715094732](https://user-images.githubusercontent.com/29081440/61192242-9c35bd80-a6e5-11e9-98c3-5e228b8d1888.jpg)

Thank you very much for this component.

[2019-07-16 03:08] soyoung97 opened #24 "Cannot use Moment for formatter"
Hi, first I want to thank you for making a good react native echarts wrapper.
I want to use moment for the formatter, but I have trouble making it work,
because in my opinion, I have to import it to use it,
but I can't import moment to the echarts wrapper.

Is there any way that I can use moment for formatter(including the tooltip formatter)?
I attached my code below.

![image](https://user-images

[2019-07-24 10:09] JackClown commented on #20
I catched the same problem on Android.  It worked on IOS. RN 0.57.4.

[2019-07-24 10:29] Allwithyou999 commented on #20
After I added the height in <ECharts> parent, <View> I could resolve this issue.

[2019-07-24 15:11] JackClown commented on #20
I find that jsBuilder.js uses arrow functions somewhere, it not works on chrome v44 and before. #25

[2019-07-24 21:02] tomLadder commented on #24
Hello @soyoung97 !

You can't access anything from your react-native node_modules because these are not available in the webview. In your case i would add a minified version of `moment` to the index.html. Then there your formatter should work.

Cheers,
Tom

[2019-07-24 21:04] tomLadder commented on #23
Thanks, i will have a look on it

[2019-07-24 21:05] #21 closed

[2019-07-25 04:18] #24 closed

[2019-07-27 14:46] tomLadder commented on #23
Hey @QuYunFengg!

It gives me the same output on the web editor.

![image](https://user-images.githubusercontent.com/20393156/61995863-1a06ab00-b08e-11e9-94a7-3c7e5fe1dead.png)

[2019-07-27 14:48] tomLadder commented on #23
ok it was just a space.

![image](https://user-images.githubusercontent.com/20393156/61995892-4fab9400-b08e-11e9-8893-454d98224d1f.png)

I think this issue is solved now 👍

[2019-07-27 14:48] #22 closed

[2019-07-29 09:45] tiechuimeimei opened #26 "not working on android 5.0"
On Android 5.0 mobile phone, histogram can't display normally, showing white screen.Normal Histogram Display on Android 8.0 9.0 Mobile Phone.react-native version number 0.56.0,react-native-echarts-wrapper version number 1.4.1

[2019-07-29 11:02] tomLadder commented on #26
Hi. Do you use an emulator or a physical device to test the chart?

[2019-07-31 02:06] tiechuimeimei commented on #26
I have used mobile phone VIVO and SAMAUNG test the chart

[2019-07-31 15:40] #23 closed

[2019-07-31 15:55] tomLadder commented on #26
Unfortunately i don't have an android device with Android 5, so it's very hard for me to investigate into this issue. Maybe i can reproduce the problem with an emulator.

[2019-07-31 20:59] tomLadder commented on #20
Did you add a height to the parent view as @Allwithyou999 suggested? Also try out [v1.4.2](https://www.npmjs.com/package/react-native-echarts-wrapper/v/1.4.2)
Please let me know if this solves the issue.

Thanks,
Tom

[2019-08-02 01:26] tiechuimeimei commented on #26
Thank you .Hope you can reproduce this problem and solve it. If you have any progress, please let me know.I also continued to try to solve it.

[2019-08-05 09:50] toumas opened #27 "Broken on React Native >= 0.60.0 (Invariant Violation: Element type is invalid)"
WebView was finally removed from react-native in [v0.60](https://facebook.github.io/react-native/blog/#lean-core-removals) thus this package no longer works with the newer versions of react-native.

[Here's](https://github.com/toumas/rnew_repro) the issue reproduced.

The error:
[code]

[2019-08-05 09:53] tomLadder commented on #27
Hey @toumas.

Thank you for reporting this issue. I'm currently rewriting some internals. The upcoming release will fix this problem.

Thanks,
Tom

[2019-08-06 13:49] tomLadder commented on #27
just to be sure.

did you install `react-native-webview`?

[2019-08-06 13:55] toumas commented on #27
In the application I'm developing it is included in dependencies. In the repro it is not but the issue is the same.

[2019-08-06 15:55] tomLadder commented on #27
Just released [v1.4.3](https://www.npmjs.com/package/react-native-echarts-wrapper/v/1.4.3) 🎉.
This release adds support for RN 0.60

[2019-08-07 13:05] #27 closed

[2019-08-16 19:50] shieer commented on #17
Nice Library, and thanks for all the supports!

May I ask about the timeline for this request? I'm trying to change background color and match design. Thank again!

[2019-08-16 20:10] tomLadder commented on #17
Hey @shieer.
Gonna have a look at it tomorrow.

Cheers
*Tom*

[2019-08-17 13:39] #17 closed

[2019-08-17 13:46] tomLadder commented on #17
Just released [v1.4.5](https://www.npmjs.com/package/react-native-echarts-wrapper/v/1.4.5) 🎉.
Adds backgroundColor support.

[2019-08-17 13:51] #20 closed

[2019-08-21 10:26] EngsShi commented on #14
some issue

[2019-08-21 16:59] shieer commented on #17
@tomLadder Just wanna say thank you! I'm new to React Native, and I like to improve this wrapper along I'm using it. Thanks a lot!

[2019-08-21 17:07] tomLadder commented on #17
@shieer Thank you! Your welcome to send some nice pull requests :)

[2019-08-21 23:00] shieer commented on #14
Formatter doesn't work, any plan to add this @tomLadder  ?

[2019-08-22 07:41] tomLadder commented on #14
@shieer Yes someone should definitely have a look at it.

[2019-08-27 10:06] gurtejsmartdata opened #30 "can we use custom height"
I'm unable to give custom height ,could you please guide me to do that

[2019-08-27 11:51] tomLadder commented on #30
Hey @gurtejsmartdata,

Just wrap your `ECharts` component into a View and give that View a fixed/custom height.

[2019-08-30 04:16] shieer opened #31 "Got rejected from Apple review"
`ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView APIs . See https://developer.apple.com/documentation/uikit/uiwebview for more information.`

Do we support WKWebview soon?

[2019-08-30 16:07] shieer commented on #31
I see the library is using "react-native-webview": "^5.7.0", can we update that?

[2019-08-31 10:24] EngsShi commented on #14
`
const airOption2 = ({
  xAxisData,
  seriesData,
  color = '#848dc8',
}) => {
  return {
    color: color,
    grid: {
      right: 20,
      left: 40,
      top: 20,
      bottom: 80
    },
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    xAxis: {
      type: 'category',
      data: xAxisData,
      splitLine: {
        show: false
      },

[2019-08-31 10:27] EngsShi commented on #14
formatter: function (value, index) {
return value + "(\n)"; // here
},

if use `"(\n)"` or `"\n;"` will nothing happened

[2019-08-31 21:37] tomLadder commented on #31
We can update it. But in the next version `react-native-webview` will be a peer-dep

[2019-08-31 21:38] #30 closed

[2019-09-04 09:47] vyppN commented on #19
I tried @tshiamor-adft  approach. It shows plain HTML instead. This occurred on both legacyMode and no-legacyMode

[2019-09-04 15:23] tomLadder commented on #31
Small info: I will drop the legacy Webview Support in `v2.0.0`. `react-native-webview` (7.x) removed UIWebView...

[2019-09-04 20:47] tomLadder commented on #14
Currently working on `v2.0.0`. Will be fixed!

Cheers,
**Tom**

[2019-09-04 20:50] tomLadder commented on #26
@tiechuimeimei  Any news on this issue?

[2019-09-05 07:19] tiechuimeimei commented on #26
Finally, I only used the 'native-echarts' library.Charts can be displayed properly.

[2019-09-06 02:24] fynmm opened #32 "RN 0.60"
RN: 0.60.0
when I npm install `react-native-echarts-wrapper`,
 and install success :
`+ react-native-echarts-wrapper@1.4.5`
But the warning is
`react-native-webview@5.12.1 requires a peer of react-native@>=0.57 <0.60 but none is installed. You must install peer dependencies yourself.`
But I use the version 0.60.0 of RN ,So what can I do to solve the problem?

[2019-09-13 08:30] lokiiart commented on #32
It's < not <=.

[2019-09-13 08:44] lokiiart opened #34 "Cannot read property 'setOption' of undefined"
I printed  this.chart , setOption is a nonullable functional property of the object. but when I used setOption, it says "Cannot read property 'setOption' of undefined". I can't even understand why, someone help me please.

[code]

[2019-09-13 08:45] tomLadder commented on #34
@lokiiart Can you show me the code?

[2019-09-13 08:49] lokiiart commented on #34
Thx...

[code]

[2019-09-13 08:53] lokiiart commented on #34
![Annotation 2019-09-13 165214](https://user-images.githubusercontent.com/5915930/64849852-de786e00-d646-11e9-89ad-e0d88dc27f1e.png)
And the error...

[2019-09-13 09:06] tomLadder commented on #34
Do not call `initChart` on the render functions.

You have several options:
1. make the options static and assign it directly to `<ECharts options={this.options} ... />`
2. call initChart in `onLoadEnd`

[code]

Cheers,
**Tom**

[2019-09-13 09:19] lokiiart commented on #34
It works, thank you...

[2019-09-13 09:19] #34 closed

[2019-09-17 11:03] developerashish01 opened #35 "Tried to register two views with the same name RNCWebView?"
any help would be appreciated?

[2019-09-18 10:14] tomLadder commented on #35
Yes it's probably in an issue with the dependencies.  I will have a look at it.

[2019-09-25 16:46] masiamj commented on #35
@tomLadder Any updates on this? Thanks for you continued great work!

[2019-09-27 19:28] Allwithyou999 commented on #31
When will v2.0.0 be published? @tomLadder

[2019-09-28 17:38] #26 closed

[2019-09-30 10:08] PinelliaTime opened #36 "Can't use ECharts with RN 0.60.5"
create project with react-native-init;
"react-native-webview": "^7.4.0",
"react-native": "0.60.5",
"react-native-webview": "^7.4.0",

The error message is:
`
      Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or yo

[2019-10-03 09:44] tomLadder commented on #35
I'm finished with almost all tests in v2.0.0. Hopefully i can release it this weekend.

Tom

[2019-10-03 09:51] tomLadder commented on #36
did you import it correctly?

[code]

[2019-10-04 13:59] #36 closed

[2019-10-04 14:00] #35 closed

[2019-10-04 14:00] #32 closed

[2019-10-04 14:00] #14 closed

[2019-10-04 14:00] #19 closed

[2019-10-04 14:00] #31 closed

[2019-10-04 15:08] tomLadder commented on #36
Just released [v2.0.0](https://www.npmjs.com/package/react-native-echarts-wrapper/v/2.0.0) 🎉

[2019-10-04 15:08] tomLadder commented on #35
Just released [v2.0.0](https://www.npmjs.com/package/react-native-echarts-wrapper/v/2.0.0) 🎉

[2019-10-04 15:09] tomLadder commented on #32
Just released [v2.0.0](https://www.npmjs.com/package/react-native-echarts-wrapper/v/2.0.0) 🎉

[2019-10-04 15:09] tomLadder commented on #31
Just released [v2.0.0](https://www.npmjs.com/package/react-native-echarts-wrapper/v/2.0.0) 🎉

[2019-10-04 15:09] tomLadder commented on #14
Just released [v2.0.0](https://www.npmjs.com/package/react-native-echarts-wrapper/v/2.0.0) 🎉

[2019-10-08 02:15] PinelliaTime commented on #36
thank you very much! when i upgrade to v2.0.0,it works!

[2019-10-09 02:39] BeckWang0912 opened #39 "how to avoid pie chart's label out of range?"
series: [
        {
          name: 'mark',
          type: 'pie',
          radius: ['35%', '60%'],
          center: ['50%', '50%'],
          smooth: true,
          label: {
            normal: {
              show: false
            },
            emphasis: {
              show: true,
              formatter: function (params: any) {
                const arry = params.name.split('&')

[2019-10-09 10:20] fynmm commented on #32
OK,3q

[2019-10-11 15:49] fynmm opened #40 "android doesn't work"
# It works well in iOS，but android (vivo android 7.0) doesn't work.What can I do to solve it?

[code]
## I tried two ways
### 1 put option into render() ,but the chart shows nothing.
[code]

### 2 put option outside render(), but the chart will show some useless html codes.
[code]

[2019-10-16 08:04] cani1see opened #41 "which specific version is the embedded EChartsFramework?"

[2019-10-20 17:26] tomLadder commented on #40
option 1: Try to give the container outside (Scrollview) `height: 300`

[2019-10-20 17:28] tomLadder commented on #41
Hey @cani1see

Version: 4.0.5

[2019-10-20 17:31] tomLadder commented on #41
Hey @cani1see
i think it's 4.2.0

[2019-10-25 04:37] Allwithyou999 opened #42 "Not working the tooltip issue(formatter) with the new version 2.0"
Today, I upgraded the react-native-echarts-wrapper to v2.0.
After I upgraded, the chart tooltip formatter is not working like the previous one.
[code]
This is the code part I use.

Please let me know why "formatter" option is not working.
Thanks

[2019-11-07 12:55] herzogpeter commented on #42
I am having the same issue. @tomLadder Any thoughts?

[2019-11-07 16:16] tomLadder commented on #42
@Allwithyou999 @herzogpeter i will have a look at it

[2019-11-09 15:08] ammarRajabA opened #43 "Scrolling in iOS not working"
Hi

Thanks for the library, I have an issue, in Android when using ECharts component inside ScrollView I can scroll just fine (I am using ECharts with multiple grids). However in iOS I am unable to scroll, only when I tap outside the ECharts component.

Any help please

[2019-11-09 15:11] tomLadder commented on #43
Hey @ammarRajabA

I'm aware of this issue. I was never able to solve it. It's due to how the scrollview with webview interacts @ios.
I think i can't to anything about it.

[2019-11-09 16:48] ammarRajabA commented on #43
Thanks @tomLadder for your reply. Is there any workaround you can suggest ?

[2019-11-09 19:24] tomLadder commented on #43
@ammarRajabA I don't think there is a way to change this behaviour for iOS. I redesigned my view to avoid scrollviews in combination with a interactive chart.

[2019-11-10 06:26] ammarRajabA commented on #43
I did a workaround , I'm gonna reference it here it might help others..

I created an overlay above all charts with same height that is transparent, I when user press on it, it disappears for 1000 ms, and user can interact with the chart, and if scrolls it also scrolls :)

[code]

[2019-11-25 11:48] VShepa opened #44 "How to dispatch some actions in echarts?"
I need to change legend select through action. Is it possible to do with additionalCode?

[2019-12-01 18:43] ThienBao96 opened #45 "blank page only on android 4.x"
I followed your example and succeeded to show chart on almost android devices. Only with android 4.x, nothing showed up.
i am using:
 - "react-native-echarts-wrapper": "2.0.0"
 - "react-native-webview": "5.8.1"
 - "react-native": "0.58.5"

[2019-12-06 11:00] tomLadder commented on #43
@ammarRajabA Really cool, but also hacky solution 😂
Gonna definitely try this.

Thanks!

[2019-12-06 11:00] #43 closed

[2019-12-06 11:01] tomLadder commented on #44
@VShepa yes should be possible. What do you want to do exactly?

[2019-12-08 18:58] #41 closed

[2019-12-11 14:29] mrmikeo opened #46 "Upgraded to latest react native expo, now chart just shows blank white"
It was working fine on expo 35, but now on expo 36 the candlestick chart doesn't show.

[2019-12-19 02:31] shieer commented on #42
I don't think formatter is working at all, I could render the same way like this https://echarts.apache.org/examples/en/editor.html?c=bar-rich-text. check the icon on yAxis

[2019-12-31 07:50] chj-damon commented on #46
same here.

[2020-01-08 18:30] jackywei1228 commented on #46
same here.

[2020-01-09 10:04] steele-cjf commented on #46
same here

[2020-01-20 08:40] manolobattista93 opened #49 "[feature] backgroundColor 'transparent' doesn't work"
It's not possible to set backgroundColor as transparent or rgba(0,0,0,0.0).

In my case I need to have a linear-gradient as background of the charts, if is not possible have linear gradient, is there a way to set a transparent background to use a linear-gradient box behind the charts?

[2020-02-06 12:00] kishanp2585 opened #50 "work fine in expo but not working in react native Android"
"react": "16.9.0",
"react-native": "0.61.5",
"react-native-echarts-wrapper": "^2.0.0",
"react-native-webview": "^8.0.6",

![Screenshot_1580990280](https://user-images.githubusercontent.com/44631768/73935339-51d89000-4906-11ea-868c-0bf4b6aced49.png)

[2020-02-07 16:18] tomLadder commented on #45
Hey @ThienBao96

Do you have dome further information/specs about the device?

[2020-02-07 16:19] #40 closed

[2020-02-21 02:55] Namnp1521 commented on #43
I use this solution. I create function to render ECharts component instead code direct. And you can scroll inside ScrollView. Hope this help ^^

`renderChart(dataChart) {
        return <LineBarChart dataChart={dataChart} />
    }

    render() {
        let { dataChart } = this.props;

        return (<View style={styles.container}>
                {/* Chart */}
                <View style={style

[2020-02-21 04:41] Zeral-Zhang opened #51 "Set default renderer to svg or use props"
Set default renderer to svg or use props, the SVG renderer has provided a better FPS performance in mobile devices.
link：[Render by Canvas or SVG](https://echarts.apache.org/en/tutorial.html#Render%20by%20Canvas%20or%20SVG)

[2020-02-21 09:15] tomLadder commented on #51
@Zeral-Zhang Yes you are totally right. It was already possible to the the render to "svg" through props. But i found out that touch events/gestures are not handled proberly when rendering with svg. But for static charts it makes sense. Will add it again in the upcomming release.

[2020-02-22 07:48] #51 closed

[2020-02-25 22:20] manolobattista93 commented on #49
@tomLadder I saw now that it is possible add a style prop on WebView to solve this feature.

[code]
Can you provide a webViewProps on main Echarts component to pass custom props on WebView?

My custom screen
[code]

index.js
[code]

<img width="372" alt="Schermata 2020-02-25 alle 23 14 28" src="https://user-images.githubusercontent.com/38498097/75292716-0b9b9000-5825-11ea-924b-627feb735086.png">

[2020-03-01 18:31] tomLadder commented on #49
@manolobattistadev Im currently very busy. But it is definitely on my list :)

[2020-03-05 07:32] chj-damon commented on #42
@tomLadder any update now? I'm still facing this problem.

[2020-03-14 11:13] 15201508996 opened #52 "Scrollview中滑动冲突问题"
android scrollView 嵌套echarts，上下滑动过程中手势冲突

[2020-03-16 18:43] masiamj opened #53 "Upgrading to latest version of ECharts"
Hey @tomLadder thanks again for your awesome work on this project! Just a question, have you considered upgrading to the latest version of ECharts? Looks like there are some significant performance upgrades and configuration options.

Available here: https://github.com/apache/incubator-echarts/tree/4.6.0/dist

Thanks!

[2020-03-25 03:11] summer88123 commented on #42
Comparing v2.0.0 and v1.3.1, I think the problem lies in jsBuilder.js line:6.
`return new Function("return " + val.toString()); // v2.0.0`
`return val.toString(); // v1.3.1`
This makes `function` no longer included in result.

[2020-04-14 12:05] dragslag opened #55 "setting range for y axis when its type is 'value'"
Thank you for making this! I am having trouble setting a custom range for the y axis, when its type is a value. Can I set a custom range, e.g. min 50 & max 100?
[code]

[2020-05-10 12:18] tomLadder commented on #50
@kishanp2585 Can you give me any further information? code to reproduce the problem?

[2020-05-28 01:37] bbm-design commented on #46
tryed with expo 34,35,36,37

[2020-06-09 01:57] kunger97 opened #56 "Invariant Violation: Tried to register two views with the same name RNCWebView"
I'm using react-native-echarts-wrapper 2.0.0 and react-native-webview 10.2.3
this issue appears after webview version update

[2020-06-16 02:01] W8jonas commented on #46
same here.

[2020-06-18 19:30] Markyza commented on #42
Any formatter/position/etc is working until next Option update. Easiest solution - reupdate Option with:
[code]

[2020-07-06 09:06] aliwaqar981 opened #57 "Graph is Skipping labels on X-axis when type is 'Category'"
Thank you for this package. I'm having trouble to display all months name as label on x-Axis but Graph is displaying half of the labels.
## Current Behaviour
Displaying (Jan, Mar, May, Jul, Sep, Nov)
## Expected Behaviour
Display Labels like (Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec)

[2020-07-16 23:43] Markyza opened #59 "dispatchAction hideTip is not working"
Its my first dispatchAction in echarts-wrapper wich actually do nothing.  I have no problems with "showTip", but "hideTip " is dead.
According to docs it's realy simple:
[code]
But in my case nothing happens. In chartconfig.js I found it `this._api.dispatchAction({type:\"hideTip\"})` near with `this._api.dispatchAction({type:\"updateAxisPointer\"`, and everything is fine with "updateAxisPointer",

[2020-07-23 07:13] lzweife commented on #42
I am having the same issue.

[2020-08-05 03:29] chj-damon opened #60 "toString is broken when enable Hermes"
https://github.com/facebook/hermes/issues/288

any idea that maybe we can convert toString() to pure javascript string?

[2020-08-15 00:16] spanky411 commented on #53
For what its worth, I took the echarts dist file (https://echarts.apache.org/en/download.html), fed it through this escaper https://codebeautify.org/javascript-escape-unescape and then updated chartconfig.js and it seemed to work... I didn't thoroughly test it though

[2020-08-28 09:45] dumuchenglin123 opened #61 "动态数据刷新图表时，options里的 回调函数好像不管用"
option`s callback is not used  if you use setOption({...}, true)

[2020-08-29 09:32] dumuchenglin123 commented on #61
我好像发现了什么，依赖包里有bug: 当你初始化option时 option里的回调函数起作用的，但setOption时，option里的函数不起作用，原因在于：
![image](https://user-images.githubusercontent.com/20918639/91633762-7ec4cf80-ea1d-11ea-802e-59906376ff3d.png)
应该是 return val.toString()

[2020-09-25 10:13] RohanKhedekar21 opened #64 "xAxis.axisLabel.formatter not working with functions"

[2020-09-25 11:29] RohanKhedekar21 opened #65 "chart not change previous state after option data change"

[2020-09-26 05:34] #65 closed

[2020-10-04 15:09] mati23 opened #66 "Unable to update chart data using functional components"
I'm using the new React Native functional components with hooks but I'm not able to update the data of the chart using the
`this.chart.setOption(option);` on a state change event. I tried do a console log inside the `additionalCode` parameter but the `this` object is undefined. I don't know how to reference the echart object using RN Hooks, can someone help me out?

        `const option = {

[2020-10-08 18:58] tomLadder commented on #64
Hello @RohanKhedekar21

Can you provide me some example code to reproduce the problem?

[2020-10-08 18:59] tomLadder commented on #60
@chj-damon  Thank you for pointing this out. I think there is a way to fix this. I will provide further information in the future.

[2020-10-09 14:40] RohanKhedekar21 commented on #64
[code]
actually function running but not returning anything i think its executing in separate memory space....
because of that its not accepting outside parameters and not working this type of code ,
but if i pass function directly  without outside variable its working fine
And for that problem i want to add all my functions inside one component or in file .

And one more thing i'm stuck in echart

[2020-10-09 14:56] tomLadder commented on #64
ok @RohanKhedekar21  for the first problem you are right. You can't access your Javascript Functions declared in a component for example, because the webview has it's on environment. There is a property called `additionalCode` which allows you to inject your custom javascript code into the webview. But keep in mind that you can't access any variables or other methods that are declared in your norm

[2020-10-12 03:31] cloudychen commented on #64
anyway to use 3rd party libs like moment, lodash,etc to format values in formatter functions? can you give us an example @tomLadder

[2020-10-12 03:44] cloudychen commented on #24
how to use moment? @tomLadder
can you use moment for formatter now? @soyoung97

[2020-10-12 04:53] soyoung97 commented on #24
@cloudychen In the last year's case, I didn't use moment. I instead just used `Date`. I don't know if it supports moment now.

[2020-10-12 06:14] cloudychen commented on #24
@soyoung97 Thank you for your reply, I can't use moment and I just used `Date` too.

[2020-10-12 07:29] kevinFengP commented on #64
I also encountered the same problem, that is, the formatter cannot call third-party libraries, such as moment.@tomLadder

[2020-10-22 11:00] RohanKhedekar21 commented on #64
@tomLadder Thanks for replying on my issue
Now i am sharing a details about my 2nd problem
[code]
What `react-native-echarts-wrapper` version are you using?
^2.0.0
What platform does your issue occur on?(Android/iOS/Both)
Android(Have not tested on iOS as yet)
Describe your issue as precisely as possible:
    1.Steps to reproduce the issue or to explain in which case you get
       the issue
When

[2020-10-22 22:17] tomLadder commented on #64
@RohanKhedekar21 Please also provide setChartOptions. I will have a look at it, if i have time.

[2020-10-24 04:27] RohanKhedekar21 commented on #64
@tomLadder as you said i'm added setChartOptions in my last commit. Please look at it as soon as possible.
Thanks.

[2020-10-26 07:00] KevinPFeng opened #67 "the formatter cannot call third-party libraries"
I encountered the problem, that is, the formatter cannot call third-party libraries, such as `moment`.@tomLadder

[2020-11-07 02:56] abhaychitnis commented on #64
I am having the same issue. Any update on this ?

[2020-11-25 01:13] Tom0115 opened #68 "On expo, there are multiple charts on the current page, jump to another page, the system crashes directly, I don't know what to do"
package.json：
{
"main": "node_modules/expo/AppEntry.js",
"scripts": {
"start": "expo start",
"android": "expo start --android",
"ios": "expo start --ios",
"web": "expo start --web",
"eject": "expo eject"
},
"dependencies": {
"@eva-design/eva": "^2.0.0",
"@highcharts/highcharts-react-native": "^3.1.2",
"@react-native-community/async-storage": "^1.12.1",
"@react-native-community/masked-view": "0.1.1

[2020-11-25 13:49] XPgan commented on #68
In the library, the WebView component to add androidHardwareAccelerationDisabled properties, close the android hardware acceleration

[2021-01-04 11:08] RohanKhedekar21 commented on #64
Still having this issue. Any update on this ...? @tomLadder

[2021-01-06 10:53] LeaFranz opened #70 "How can I render a 3d chart?"
I would like to use an ECharts 3D chart, but i cannot get it to render. Is this possible with this wrapper?
Thanks!

[2021-01-25 08:18] chj-damon commented on #60
@tomLadder are you making some progress now?

[2021-01-28 07:15] NealWD opened #71 "Which version of echarts"
Which version of Echarts is used，available

[2021-03-04 20:10] joaonunogomes opened #72 "Bump Echarts to Version 5"
Hi!
Is it possible to bump the charts version to Version 5 ?

Thanks in advance

[2021-03-05 19:36] #70 closed

[2021-03-22 10:20] hungdev commented on #70
@LeaFranz why do you close this topic?

[2021-03-22 10:40] hungdev opened #74 "How to enable scatter3D?"
Thank you for your work.
But how to enable scatter3D.
Here is my code:
[code]

[2021-03-22 10:46] hungdev commented on #70
@LeaFranz
I dont know why it doesnt work for me.
[code]

[2021-04-12 08:33] wentaoy2 opened #76 "Not working at all with expo and ios"
I always get a blank screen with the basic example with expo and no error is shown, and when I try to run react-native "run-ios" it tells me that "Invariant Violation: requireNativeComponent: "RNCUIWebView" was not found in the UIManager".

I did install webview, so not sure what happened.

[2021-05-23 08:08] BarrySong97 commented on #76
same as yours, didn't show any thing on the screen even dont hava a error msg;

[2021-07-05 12:51] sainiankit opened #81 "Error: SyntaxError: Unexpected token o in JSON at position 1 at JSON.parse"
https://github.com/tomLadder/react-native-echarts-wrapper/blob/ec0a62faa1f3f8a2fd91ede11ca39c258c33317c/src/index.js#L72

[code]

[2021-07-11 05:12] surethink commented on #60
any update on this? thanks

[2021-07-11 08:59] chj-damon commented on #60
@surethink try this: https://github.com/thundersdata-frontend/td-design/tree/master/packages/react-native-echarts
it works with or without hermes.

[2021-07-22 12:49] poojalivin opened #82 "How to set bar chart bar width size"
I have only dates and corresponding values on the chart. When the values list is small the bar width is very high. I want to make it static.

[2021-08-05 16:20] AndreBovolini commented on #76
did you install webview properly on expo? It worked for me

[2021-11-09 18:56] memon07 opened #87 "Updating e-chart framework to its current latest version"
@tomLadder can you please update the Apache e-chart's echarts.min.js to its latest version (5.2.2) as of nov 2021. there are few new features which i am not able to use.

If you are busy with work , you can assign the task to me ..

thanks in advance.

[2021-11-12 05:41] memon07 commented on #53
@spanky411 which file did you added from the apache echart's dist ?

[2022-01-04 13:47] AhtshamHayee commented on #87
@memon07 did you update it to echart's latest version?

[2022-02-11 06:27] kanadgodse-lh commented on #68
I was having a similar issue where I was getting SIGSEGV Segmentation violation (invalid memory reference) libhwui.so
I have added ```androidHardwareAccelerationDisabled={true}``` and it has solved the crashing issue for me.
It would be good if this library provided a way to enable or disable this prop without changing inside the library.

[2022-03-07 18:12] tomLadder commented on #67
@KevinPFeng The code runs in the context of the WebView - therefore you're React-Native libraries won't be accessible there

[2022-03-07 18:13] #44 closed

[2022-03-07 18:13] #50 closed

[2022-03-07 18:28] tomLadder commented on #87
@memon07 Sorry i was busy, i will update the libary to use the latest version of e-charts

[2022-03-07 18:28] tomLadder commented on #82
This issue is not related with the wrapper

[2022-03-07 18:28] #82 closed

[2022-03-07 18:34] #45 closed

[2022-03-07 18:38] #67 closed

[2022-05-23 21:50] mthakkar815 commented on #87
@tomLadder did you get a chance to update the library to the latest version?

[2022-09-14 16:14] IsabellaRenolphiCMD opened #95 "Limit dataset"
Is there a way to limit the amount of plotted points, or is there already a native optimization in the code? If yes, how does it work?

[2022-09-25 14:06] weishengkui commented on #60
最近也在追查 funtion.toString() 的问题， 佩服妹子锲而不舍的精神， 赞赞赞！哈哈。。。。

[2022-11-01 15:52] rravithejareddy opened #96 "setState is not working when I send in onData"
setState is not working when I send in onData callback, basically I am showing chart details, I want to update it on charclick, I am getting data back from onData but I used setState in that callback but it's not working.

[2022-11-01 16:28] #96 closed, assigned to nobody

[2022-11-01 16:29] rravithejareddy commented on #96
It's working

[2022-11-01 16:30] rravithejareddy commented on #66
As shown in the below complex example you need to send additionalCode as String and then use onData for callback.

[link](https://npm.io/package/react-native-echarts-wrapper)

[2022-11-03 18:17] rravithejareddy opened #97 "Is it supporting symbolSize callback func?"
I want use callback function of symbolSize as mentioned here [link](https://echarts.apache.org/en/option.html#series-line.symbolSize:~:text=Function-,symbol,-size.%20It%20can)